accelerate==0.21.0
einops==0.6.1
einops-exts==0.0.4
huggingface-hub==0.14.1
hyperframe==5.2.0
Jinja2==3.1.2
matplotlib==3.7.1
MedCLIP @ git+https://github.com/RyanWangZf/MedCLIP.git@9c3396f20d5d54e4fae241b8cb06ca45848e98c9
open-clip-torch==2.20.0
openai==0.28.0
opencv-python==4.7.0.72
openslide-python==1.2.0
pandas==2.0.2
peft==0.4.0
safetensors==0.3.2
scikit-image==0.19.3
scikit-learn==1.4.1.post1
seaborn==0.13.0
tensorboard==2.16.2
timm==0.9.8
tokenizers==0.13.3
torch==1.13.1
torch-kmeans==0.2.0
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.64.1
transformers==4.24.0
wordcloud==1.9.2

